@import "colors.scss";
@import "layoutsizes.scss";
@import "_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

body {
  background: $body-color;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  position: relative;
  overflow-x: hidden;
  height: 15em;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  svg {
    position: absolute;
    top: 0;
    transition: all 0.2s linear;
    animation: waves 4s linear infinite;
    transform: translateY(-30%);
    left: 0;
    z-index: -1;
    width: 300%;
  }
}

@keyframes waves {
  0%,
  100% {
    transform: translateX(-25%) translateY(-60%);
  }
  50% {
    transform: translateX(-54%) translateY(-60%);
  }
}
.main__title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  @include titles_default();
}
.form {
  margin-top: 1%;
  text-align: center;
  &__input {
    outline: none;
    @include form-button-input();
    &::placeholder {
      color: $main-color;
    }
  }
  &__button {
    @include form-buttons($white-color, $glass);
  }
}

.lists__title {
  @include titles_default(2em, $white-color);
  color: transparent;
  font-weight: 900;
  @include linearGradient();
  -webkit-background-clip: text;
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;

  .list {
    list-style: none;
    max-height: 20em;
    width: fit-content;
    overflow-y: scroll;
    padding: 1% 2%;
    border-radius: 0.2em;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &__item {
      width: 20em;
      display: flex;
      font-size: 1.1em;
      justify-content: space-between;
      margin-top: 4%;
      @include glass();
    }
    &__link {
      text-decoration: none;
      color: inherit;
      font-size: 1.1em;
      font-weight: 600;
      transition: all 0.2s linear;
      font-family: "Ubuntu", sans-serif;

      &:hover {
        color: $gr-color2;
        font-size: 1.2em;
      }
    }
    .delete {
      background: transparent;
      border: none;
      outline: none;
      transition: all 0.1s linear;
      &:hover {
        color: $gr-color1;
      }
    }
  }
}

/* adaptive */

@media (max-width: $md) {
  .header {
    overflow-x: hidden;
    svg {
      width: 350%;
    }
  }
  .main__title {
    top: 4%;
    @include titles_default(2em);
  }

  .lists__title {
    font-size: 1.8em;
  }
}

@media (max-width: $md-sm) {
  body {
    font-size: 16px;
  }
  .main__title {
    top: 3.8%;
  }
  .form {
    margin-top: -10%;
    &__input {
      font-size: 0.9em;
      &::placeholder {
        color: $main-color;
      }
    }
    &__button {
      font-size: 0.9em;
    }
  }
  .lists__title {
    font-size: 1.6em;
  }

  /* .list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

    .list {
      list-style: none;
      max-height: 20em;
      width: fit-content;
      overflow-y: scroll;
      padding: 1% 2%;
      border-radius: 0.2em;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }

      &__item {
        width: 18em;
        font-size: 1em;
        margin-top: 3.5%;
      }
      &__link {
        font-size: 1em;

        &:hover {
          font-size: 1.1em;
        }
      }
    }
  } */
}

@media (max-width: $sm) {
  .header {
    height: 10em;
  }
  .main__title {
    font-size: 1.5em;
    top: 3.3%;
  }
  .form {
    margin-top: -10%;
    &__input {
      font-size: 0.9em;
      &::placeholder {
        color: $main-color;
      }
    }
    &__button {
      font-size: 0.9em;
    }
  }
  .lists__title {
    font-size: 1.5em;
  }
}

@media (max-width: $sm-xs) {
  body {
    font-size: 12px;
  }

  .header {
    height: 12em;
    svg {
      width: 500%;
      animation: waves 3s linear infinite;
    }
  }

  @keyframes waves {
    0%,
    100% {
      transform: translateX(-35%) translateY(-60%);
    }
    50% {
      transform: translateX(-54%) translateY(-60%);
    }
  }

  .main__title {
    font-size: 1.9em;
    top: 3.3%;
  }
  .form {
    margin-top: 4%;
    &__input {
      font-size: 1.6em;
      &::placeholder {
        color: $main-color;
      }
    }
    &__button {
      font-size: 1.6em;
    }
  }
  .lists__title {
    font-size: 2.4em;
  }
  .list__container {
    margin-top: 10%;

    .list {
      max-height: 27em;
      &__item {
        width: 28em;
        font-size: 1em;
        margin-top: 4%;
      }
      &__link {
        font-size: 1.9em;

        &:hover {
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: $xs) {
  body {
    font-size: 12px;
  }

  .header {
    height: 12em;
    svg {
      width: 500%;
      animation: waves 3s linear infinite;
    }
  }

  .main__title {
    font-size: 2em;
    top: 3.3%;
  }
  .form {
    display: flex;
    width: 25em;
    margin: 4% auto;
    flex-direction: column;
    &__input::placeholder {
      text-align: center;
    }
  }
  .lists__title {
    font-size: 2.4em;
  }
  .list__container {
    margin-top: 15%;

    .list {
      max-height: 27em;
      &__item {
        width: 25em;
        font-size: 1em;
        margin-top: 4%;
      }
      &__link {
        font-size: 1.9em;

        &:hover {
          font-size: 2em;
        }
      }
    }
  }
}
