/* variable for layout sizes */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* variable for layout sizes */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background: #38273e;
  max-width: 100vw;
  overflow-x: hidden;
}

.header {
  position: relative;
  overflow-x: hidden;
  height: 15em;
  scrollbar-width: none;
}
.header::-webkit-scrollbar {
  display: none;
}
.header svg {
  position: absolute;
  top: 0;
  transition: all 0.2s linear;
  animation: waves 4s linear infinite;
  transform: translateY(-30%);
  left: 0;
  z-index: -1;
  width: 300%;
}

@keyframes waves {
  0%, 100% {
    transform: translateX(-25%) translateY(-60%);
  }
  50% {
    transform: translateX(-54%) translateY(-60%);
  }
}
.main__title {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #38273e;
  font-family: "Nunito", sans-serif;
}

.form {
  margin-top: 1%;
  text-align: center;
}
.form__input {
  outline: none;
  padding: 1%;
  color: #8e3d8e;
  border-radius: 0.3em;
  border: 1px solid #ffffff;
  font-size: 1.1em;
}
.form__input::placeholder {
  color: #8e3d8e;
}
.form__button {
  padding: 1%;
  color: #8e3d8e;
  border-radius: 0.3em;
  border: 1px solid #ffffff;
  font-size: 1.1em;
  background: transparent;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s;
}
.form__button:hover {
  cursor: pointer;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.4);
}

.lists__title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
  color: transparent;
  font-weight: 900;
  background: linear-gradient(90deg, rgb(230, 22, 117) 3%, rgb(247, 137, 252) 33%, rgb(153, 0, 255) 100%);
  -webkit-background-clip: text;
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}
.list__container .list {
  list-style: none;
  max-height: 20em;
  width: fit-content;
  overflow-y: scroll;
  padding: 1% 2%;
  border-radius: 0.2em;
  scrollbar-width: none;
}
.list__container .list::-webkit-scrollbar {
  display: none;
}
.list__container .list::-webkit-scrollbar-thumb {
  display: none;
}
.list__container .list__item {
  width: 20em;
  display: flex;
  font-size: 1.1em;
  justify-content: space-between;
  margin-top: 4%;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
  padding: 1% 2%;
}
.list__container .list__link {
  text-decoration: none;
  color: inherit;
  font-size: 1.1em;
  font-weight: 600;
  transition: all 0.2s linear;
  font-family: "Ubuntu", sans-serif;
}
.list__container .list__link:hover {
  color: rgb(247, 137, 252);
  font-size: 1.2em;
}
.list__container .list .delete {
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.1s linear;
}
.list__container .list .delete:hover {
  color: rgb(230, 22, 117);
}

/* adaptive */
@media (max-width: 900px) {
  .header {
    overflow-x: hidden;
  }
  .header svg {
    width: 350%;
  }
  .main__title {
    top: 4%;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #38273e;
    font-family: "Nunito", sans-serif;
  }
  .lists__title {
    font-size: 1.8em;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 16px;
  }
  .main__title {
    top: 3.8%;
  }
  .form {
    margin-top: -10%;
  }
  .form__input {
    font-size: 0.9em;
  }
  .form__input::placeholder {
    color: #8e3d8e;
  }
  .form__button {
    font-size: 0.9em;
  }
  .lists__title {
    font-size: 1.6em;
  }
  /* .list__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;

    .list {
      list-style: none;
      max-height: 20em;
      width: fit-content;
      overflow-y: scroll;
      padding: 1% 2%;
      border-radius: 0.2em;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        display: none;
      }

      &__item {
        width: 18em;
        font-size: 1em;
        margin-top: 3.5%;
      }
      &__link {
        font-size: 1em;

        &:hover {
          font-size: 1.1em;
        }
      }
    }
  } */
}
@media (max-width: 600px) {
  .header {
    height: 10em;
  }
  .main__title {
    font-size: 1.5em;
    top: 3.3%;
  }
  .form {
    margin-top: -10%;
  }
  .form__input {
    font-size: 0.9em;
  }
  .form__input::placeholder {
    color: #8e3d8e;
  }
  .form__button {
    font-size: 0.9em;
  }
  .lists__title {
    font-size: 1.5em;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 12px;
  }
  .header {
    height: 12em;
  }
  .header svg {
    width: 500%;
    animation: waves 3s linear infinite;
  }
  @keyframes waves {
    0%, 100% {
      transform: translateX(-35%) translateY(-60%);
    }
    50% {
      transform: translateX(-54%) translateY(-60%);
    }
  }
  .main__title {
    font-size: 1.9em;
    top: 3.3%;
  }
  .form {
    margin-top: 4%;
  }
  .form__input {
    font-size: 1.6em;
  }
  .form__input::placeholder {
    color: #8e3d8e;
  }
  .form__button {
    font-size: 1.6em;
  }
  .lists__title {
    font-size: 2.4em;
  }
  .list__container {
    margin-top: 10%;
  }
  .list__container .list {
    max-height: 27em;
  }
  .list__container .list__item {
    width: 28em;
    font-size: 1em;
    margin-top: 4%;
  }
  .list__container .list__link {
    font-size: 1.9em;
  }
  .list__container .list__link:hover {
    font-size: 2em;
  }
}
@media (max-width: 350px) {
  body {
    font-size: 12px;
  }
  .header {
    height: 12em;
  }
  .header svg {
    width: 500%;
    animation: waves 3s linear infinite;
  }
  .main__title {
    font-size: 2em;
    top: 3.3%;
  }
  .form {
    display: flex;
    width: 25em;
    margin: 4% auto;
    flex-direction: column;
  }
  .form__input::placeholder {
    text-align: center;
  }
  .lists__title {
    font-size: 2.4em;
  }
  .list__container {
    margin-top: 15%;
  }
  .list__container .list {
    max-height: 27em;
  }
  .list__container .list__item {
    width: 25em;
    font-size: 1em;
    margin-top: 4%;
  }
  .list__container .list__link {
    font-size: 1.9em;
  }
  .list__container .list__link:hover {
    font-size: 2em;
  }
}
.navigation .container {
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation .container .logo {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #38273e;
  font-family: "Nunito", sans-serif;
}
.navigation .container .nav {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navigation .container .nav .nav__link {
  text-decoration: none;
  margin-left: 3%;
  font-size: 1.2em;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 1% 10%;
}
.container .list__title {
  margin-top: 5%;
  text-align: center;
  font-size: _;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: transparent;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, rgb(230, 22, 117) 3%, rgb(247, 137, 252) 33%, rgb(153, 0, 255) 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.container .tasks {
  list-style: none;
}
.container .tasks .task__item {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
  padding: 1% 2%;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .tasks .task__item .task {
  font-size: 1.4em;
  font-weight: 900;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
}
.container .tasks .task__item .deadline {
  font-family: "Nunito", sans-serif;
  color: rgba(255, 255, 255, 0.4);
}
.container .tasks .task__item .item__buttons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.container .tasks .task__item .item__button {
  margin-left: 2%;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.1em;
  border-radius: 0.3em;
  padding: 1.3% 4%;
  transition: all 0.2s linear;
}
.container .tasks .task__item .item__button:nth-child(2):hover {
  cursor: pointer;
  background: rgb(230, 22, 117);
  border-color: rgb(230, 22, 117);
}
.container .tasks .task__item .item__button:nth-child(1):hover {
  cursor: pointer;
  background: rgb(153, 0, 255);
  border-color: rgb(153, 0, 255);
}
.container .list__button {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.2em;
  color: #ffffff;
  font-size: 1.1em;
  padding: 1% 1.2%;
  display: block;
  font-weight: 700;
  margin: 1% auto;
  transition: all 0.2s linear;
}
.container .list__button:hover {
  color: rgb(247, 137, 252);
  border-color: rgb(247, 137, 252);
  cursor: pointer;
}
.container .task__form {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  background: #4e3a55;
  border-radius: 0.4em;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  padding: 1% 2%;
  transition: all 0.3s linear;
}
.container .task__form .form__title {
  text-align: center;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: transparent;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(90deg, rgb(230, 22, 117) 3%, rgb(247, 137, 252) 33%, rgb(153, 0, 255) 100%);
  color: transparent;
  -webkit-background-clip: text;
}
.container .task__form .input__group {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
}
.container .task__form .input__group input {
  padding: 3% 2%;
  color: rgb(230, 22, 117);
  font-size: 1.1em;
  font-family: "Nunito", sans-serif;
  outline: none;
  border: 1px solid rgb(230, 22, 117);
  background: transparent;
  border-radius: 0.3em;
  transition: all 0.2s linear;
}
:is(.container .task__form .input__group input:focus, .container .task__form .input__group input:valid) {
  border-color: rgb(230, 22, 117);
}
:is(.container .task__form .input__group input:focus, .container .task__form .input__group input:valid) ~ label {
  transform: translateY(-55%);
  font-size: 0.9em;
  background: #4e3a55;
}
.container .task__form .input__group label {
  position: absolute;
  color: rgb(230, 22, 117);
  font-weight: 700;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.container .task__form .input__group .form__button {
  padding: 2% 10%;
  color: rgb(230, 22, 117);
  border-color: rgb(230, 22, 117);
  border-radius: 0.2em;
  transition: all 0.3s linear;
}
.container .task__form .input__group .form__button:hover {
  background: rgb(230, 22, 117);
  color: #ffffff;
}

.--hidden {
  display: none;
}

@media (max-width: 1050px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  body {
    font-size: 11px;
  }
}
@media (max-width: 450px) {
  body {
    font-size: 10px;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
